#main{

    

    background-color:royalblue;

    height: 800px; 

    width: 900px;

    padding-left:10px ;

    margin: 50px 350px 0px 300px;

    border-width :10px;
    border-color: black;
    border-radius: 3%;

}


#heading
{

color: aliceblue;
background-color: darkslateblue;

}
#button{

color:darkslateblue;
background-color:cyan;
font-size: 20px;
height:100px ;    

border-color: darkslateblue;
border-width: 10px;
width:248px;
border-radius: 50px;



}
#first
{
text-align: center;
height: 50px;
width: 200px;
font-size :20px;
}
#first1{
text-align: center;
height: 50px;
width: 200px;
font-size :20px;


}
#second
{

text-align: center;
height: 50px;
width: 200px;
font-size :20px;
}
#res
{

text-align: center;
height: 50px;
width: 200px;
font-size :20px;
}



#total
{
text-align: center;
height: 50px;
width: 200px;
font-size :20px;
}




